body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff2f6;
}

/* ================= HEADER ================= */
.header {
    background: linear-gradient(135deg, #e5ebf7, #ccd7ec);
    color: rgb(24, 40, 60);
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.header h1 {
    margin: 0;
    font-size: 45px;
    letter-spacing: 1px;
}

/* ================= SPEECH BUBBLE ================= */
.speech-bubble {
    display: block;
    width: fit-content;

    margin-top: 15px;
    margin-left: 250px;

    padding: 12px 18px;
    background: white;
    color: #1e3c72;
    border-radius: 16px;
    max-width: 500px;

    position: relative;
    font-size: 14px;
    line-height: 1.4;

    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.speech-bubble::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 30px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

/* ================= PAGE CONTAINER ================= */
.page-container {
    max-width: 1350px;
    margin: auto;
}

/* ================= SECTION ================= */
.section-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-number {
    font-size: 70px;
    font-weight: bold;
    color: rgba(30,60,114,0.15);
    display: block;
}

.section-title h2 {
    margin-top: -10px;
    font-size: 32px;
    color: #1e3c72;
}

.section-title p {
    margin-top: -20px;
    max-width: 720px;
    font-size: 22px;
    line-height: 1.5;
    color: #171616;
}

/* ================= VERA CONTROLS ================= */
.vega-bindings {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.vega-bind label {
    font-size: 16px;
    font-weight: 600;
    color: #1e3c72;
    margin-right: 10px;
}

.vega-bind select {
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 10px;
    border: 1px solid #b7c4d9;
    background-color: white;
    margin-right: 25px;
}

.vega-bind input[type="checkbox"] {
    transform: scale(1.4);
    margin-left: 10px;
    margin-right: 8px;
}

/* ================= CHART + TEXT LAYOUT ================= */
.chart-section {
    display: flex;
    gap: 10px;  
    align-items: flex-start;
}

/* chart */
#chart1 {
    flex: 2;
    margin: 0;
    max-width: 800px; 
}

/* right text */
.insight-text {
    flex: 1;

    font-size: 21px;
    line-height: 1.6;
    color: #333;
}

.insight-text p {
    max-width: 38ch;
    text-align: justify;
}