body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff2f6;
}

/* ================= HEADER ================= */
.header {
    background: linear-gradient(135deg, #e5ebf7, #ccd7ec);
    color: rgb(24, 40, 60);
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.header h1 {
    margin: 0;
    font-size: 65px;
    letter-spacing: 1px;
    font-family: "Akaya Telivigala", system-ui;
    text-align: center;
}

.header-p {
    margin-top: 15px;

    text-align: center;

    font-size: 22px;
    line-height: 1.5;

    color: #1e3c72;
}

/* ================= PAGE CONTAINER ================= */
.page-container {
    max-width: 1350px;
    margin: auto;
}

/* ================= SECTION ================= */
.section-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-number {
    font-size: 70px;
    font-weight: bold;
    color: rgba(30,60,114,0.15);
    display: block;
}

.section-title h2 {
    margin-top: -15px;
    font-size: 35px;
    color: #1e3c72;
}

.section-title p {
    margin-top: -20px;
    font-family: "Kalam", cursive;
    font-weight: 380;
    font-size: 25px;
    line-height: 1.5;
    color: #171616;
}

/* ================= VERA CONTROLS ================= */
.vega-bindings {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.vega-bind label {
    font-size: 16px;
    font-weight: 600;
    color: #1e3c72;
    margin-right: 10px;
}

.vega-bind select {
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 10px;
    border: 1px solid #b7c4d9;
    background-color: white;
    margin-right: 25px;
}

.vega-bind input[type="checkbox"] {
    transform: scale(1.4);
    margin-left: 10px;
    margin-right: 8px;
}

/* ================= CHART + TEXT LAYOUT ================= */
.chart-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    gap: 18px;

    align-items: start;
}

/* chart */


/* right text */
.insight-text {
    font-size: 22px;
    line-height: 1.6;
    color: #333;
    margin-top: -25px;
}

.insight-text p {
    max-width: 42ch;
    text-align: justify;
}